
.container{
    background-color: bisque;
    height: 510px;
    width: 400px;
    border: 2px solid black;
    justify-content: center;
    margin-left: 710px;
    margin-top: 100px;
    text-align: center;
    border-radius: 5px;
}
.row{
    
    justify-content: center;
}
.inp{
    margin-top: 5px;
    height: 60px;
    width: 95%;
    border-radius: 5px;
    font-size: 25px;
}
.button{
    margin-top: 10px;
    height: 70px;
    width: 90px;
    border-radius: 10px;
    background-color: darkmagenta;
    color: white;
    font-size: 25px;
}
.button:hover{
    cursor: pointer;
    opacity: 50%;
}